.search-container {
  display: flex;
  max-width: 800px;
  margin: 2rem auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  overflow: hidden;
  background: rgba(27, 31, 3, 0.85);
}

.search-input {
  flex: 1;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background: transparent;
  color: #ecece3;
}

.search-input::placeholder {
  color: #edeedc;
}

.search-button {
  color: #79790d;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-button:hover {
  background-color: #708e05;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  color: #dede07;
}
